In [1]:
import pandas as pd
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 100)  # 设置显示数据的最大列数，防止出现省略号…，导致数据显示不全
pd.set_option('expand_frame_repr', False)  # 当列太多时不自动换行

# load data

In [2]:
df_sales = pd.read_csv('data_origin/train/train_sales_data.csv')
df_search = pd.read_csv('data_origin/train/train_search_data.csv')
df_user_reply = pd.read_csv('data_origin/train/train_user_reply_data.csv')

df = pd.merge(df_sales, df_search, on='province adcode model regYear regMonth'.split())

df = pd.merge(df, df_user_reply, on='model regYear regMonth'.split())

## test数据

In [3]:
df_test = pd.read_csv('data_origin/evaluation_public.csv')
# 添加bodyType
dft = df[['bodyType', 'model']].drop_duplicates()
df_test = pd.merge(df_test, dft, on='model', how='left')
del dft

In [4]:
# add 'popularity', 'carCommentVolum', 'newsReplyVolum'
def t(s):
    return int(s.mean())
dfg = df.groupby('model regMonth'.split())[['popularity', 'carCommentVolum', 'newsReplyVolum']].agg(t)

df_test = pd.merge(df_test, dfg, left_on='model regMonth'.split(), right_index=True, how='left')

In [5]:
df.head()

  province  adcode             model bodyType  regYear  regMonth  salesVolume  popularity  carCommentVolum  newsReplyVolum
0       上海  310000  3c974920a76ac9c1      SUV     2016         1          292        1479               11             106
1       云南  530000  3c974920a76ac9c1      SUV     2016         1          466        1594               11             106
2      内蒙古  150000  3c974920a76ac9c1      SUV     2016         1          257        1479               11             106
3       北京  110000  3c974920a76ac9c1      SUV     2016         1          408        2370               11             106
4       四川  510000  3c974920a76ac9c1      SUV     2016         1          610        3562               11             106

In [7]:
df[df.regYear==2017]

      province  adcode             model bodyType  regYear  regMonth  salesVolume  popularity  carCommentVolum  newsReplyVolum
15840       上海  310000  3c974920a76ac9c1      SUV     2017         1          305        1072              158            1737
15841       云南  530000  3c974920a76ac9c1      SUV     2017         1          434        1600              158            1737
15842      内蒙古  150000  3c974920a76ac9c1      SUV     2017         1          180        1316              158            1737
15843       北京  110000  3c974920a76ac9c1      SUV     2017         1          468        2783              158            1737
15844       四川  510000  3c974920a76ac9c1      SUV     2017         1          500        4802              158            1737
...        ...     ...               ...      ...      ...       ...          ...         ...              ...             ...
31675       福建  350000  a9a43d1a7ecbe75d      SUV     2017        12          112         772              339             377
31676       辽宁  210000  a9a43d1a7ecbe75d      SUV     2017        12          104        1049              339             377
31677       重庆  500000  a9a43d1a7ecbe75d      SUV     2017        12          125         654              339             377
31678       陕西  610000  a9a43d1a7ecbe75d      SUV     2017        12          265        1516              339             377
31679      黑龙江  230000  a9a43d1a7ecbe75d      SUV     2017        12           58         736              339             377

[15840 rows x 10 columns]

In [6]:
df_test.head()

   id province  adcode             model  regYear  regMonth  forecastVolum bodyType  popularity  carCommentVolum  newsReplyVolum
0   1       上海  310000  3c974920a76ac9c1     2018         1            NaN      SUV        2367               84             921
1   2       云南  530000  3c974920a76ac9c1     2018         1            NaN      SUV        2367               84             921
2   3      内蒙古  150000  3c974920a76ac9c1     2018         1            NaN      SUV        2367               84             921
3   4       北京  110000  3c974920a76ac9c1     2018         1            NaN      SUV        2367               84             921
4   5       四川  510000  3c974920a76ac9c1     2018         1            NaN      SUV        2367               84             921

In [83]:
del df['adcode']

In [84]:
df.dtypes

province           object
model              object
bodyType           object
regYear             int64
regMonth            int64
salesVolume         int64
popularity          int64
carCommentVolum     int64
newsReplyVolum      int64
dtype: object

In [85]:
df.head()

  province             model bodyType  regYear  regMonth  salesVolume  popularity  carCommentVolum  newsReplyVolum
0       上海  3c974920a76ac9c1      SUV     2016         1          292        1479               11             106
1       云南  3c974920a76ac9c1      SUV     2016         1          466        1594               11             106
2      内蒙古  3c974920a76ac9c1      SUV     2016         1          257        1479               11             106
3       北京  3c974920a76ac9c1      SUV     2016         1          408        2370               11             106
4       四川  3c974920a76ac9c1      SUV     2016         1          610        3562               11             106

In [86]:
df.columns

Index(['province', 'model', 'bodyType', 'regYear', 'regMonth', 'salesVolume',
       'popularity', 'carCommentVolum', 'newsReplyVolum'],
      dtype='object')

In [87]:
cols_cat = ['province', 'model', 'bodyType', 'regYear', 'regMonth']
cols_num = ['popularity', 'carCommentVolum', 'newsReplyVolum']
label = 'salesVolume'

# time_id

In [89]:
df['t'] = 0
df.loc[df.regYear==2017, 't'] = 12
df['time_id'] = df.regMonth + df.t
df['time_id'] = df.time_id.map(int)
del df['t']

# 强相关特征

## 历史月数据 salesVolume | popularity

In [90]:
colst1 = ['salesVolume']
colst2 = ['salesVolume', 'popularity']
for i in range(6):
    df.loc[:, f'salesVolume_last_{i+1}'] = df.groupby('province model'.split())['salesVolume'].shift(i+1)
    df.loc[:, f'popularity_last_{i+1}'] = df.groupby('province model'.split())['popularity'].shift(i+1)
    colst1.extend([f'salesVolume_last_{i+1}'])
    colst2.extend([f'popularity_last_{i+1}'])

In [44]:
df[colst1].corr()

                     salesVolume  salesVolume_last_1  salesVolume_last_2  salesVolume_last_3  salesVolume_last_4  salesVolume_last_5  salesVolume_last_6  salesVolume_last_7  salesVolume_last_8  salesVolume_last_9  salesVolume_last_10  salesVolume_last_11  salesVolume_last_12
salesVolume             1.000000            0.906629            0.869059            0.857891            0.843783            0.811136            0.795037            0.797457            0.799980            0.791562             0.786466             0.871551             0.924145
salesVolume_last_1      0.906629            1.000000            0.907406            0.869899            0.857840            0.843405            0.813241            0.799413            0.800579            0.808090             0.801559             0.826100             0.896174
salesVolume_last_2      0.869059            0.907406            1.000000            0.903304            0.863638            0.851599            0.838451            0.808118            0.791932            0.795259             0.803183             0.814819             0.828754
salesVolume_last_3      0.857891            0.869899            0.903304            1.000000            0.898933            0.857736            0.846812            0.834212            0.800972            0.785714             0.788603             0.812264             0.815255
salesVolume_last_4      0.843783            0.857840            0.863638            0.898933            1.000000            0.893562            0.852345            0.841959            0.828121            0.794896             0.778033             0.799778             0.814890
salesVolume_last_5      0.811136            0.843405            0.851599            0.857736            0.893562            1.000000            0.889259            0.846941            0.835463            0.822917             0.787511             0.787659             0.801774
salesVolume_last_6      0.795037            0.813241            0.838451            0.846812            0.852345            0.889259            1.000000            0.885213            0.840501            0.829728             0.816906             0.791948             0.786247
salesVolume_last_7      0.797457            0.799413            0.808118            0.834212            0.841959            0.846941            0.885213            1.000000            0.880839            0.834175             0.823003             0.820900             0.790368
salesVolume_last_8      0.799980            0.800579            0.791932            0.800972            0.828121            0.835463            0.840501            0.880839            1.000000            0.876364             0.827327             0.826610             0.819531
salesVolume_last_9      0.791562            0.808090            0.795259            0.785714            0.794896            0.822917            0.829728            0.834175            0.876364            1.000000             0.871424             0.829137             0.825715
salesVolume_last_10     0.786466            0.801559            0.803183            0.788603            0.778033            0.787511            0.816906            0.823003            0.827327            0.871424             1.000000             0.875847             0.828541
salesVolume_last_11     0.871551            0.826100            0.814819            0.812264            0.799778            0.787659            0.791948            0.820900            0.826610            0.829137             0.875847             1.000000             0.879807
salesVolume_last_12     0.924145            0.896174            0.828754            0.815255            0.814890            0.801774            0.786247            0.790368            0.819531            0.825715             0.828541             0.879807             1.000000

## 前n个月的累计值 salesVolume | popularity

In [91]:
colst1 = ['salesVolume', 'popularity']
colst2 = ['salesVolume', 'popularity']
for i in range(2, 6):
    df.loc[:, f'salesVolume_sum_{i}'] = df.groupby('province model'.split())['salesVolume'].rolling(i).sum().reset_index('province model'.split(), drop=True)
    df.loc[:, f'salesVolume_sum_{i}'] = df.groupby('province model'.split())[f'salesVolume_sum_{i}'].shift(1)
    
    df.loc[:, f'popularity_sum_{i}'] = df.groupby('province model'.split())['popularity'].rolling(i).sum().reset_index('province model'.split(), drop=True)
    df.loc[:, f'popularity_sum_{i}'] = df.groupby('province model'.split())[f'popularity_sum_{i}'].shift(1)
    
    colst1.extend([f'salesVolume_sum_{i}'])
    colst2.extend([f'popularity_sum_{i}'])

In [92]:
df[colst1].corr()

                   salesVolume  popularity  salesVolume_sum_2  salesVolume_sum_3  salesVolume_sum_4  salesVolume_sum_5
salesVolume           1.000000    0.474152           0.917529           0.917912           0.916105           0.908731
popularity            0.474152    1.000000           0.485585           0.490227           0.492200           0.491176
salesVolume_sum_2     0.917529    0.485585           1.000000           0.988983           0.980060           0.972894
salesVolume_sum_3     0.917912    0.490227           0.988983           1.000000           0.993642           0.987354
salesVolume_sum_4     0.916105    0.492200           0.980060           0.993642           1.000000           0.995750
salesVolume_sum_5     0.908731    0.491176           0.972894           0.987354           0.995750           1.000000

In [93]:
df[colst2].corr()

                  salesVolume  popularity  popularity_sum_2  popularity_sum_3  popularity_sum_4  popularity_sum_5
salesVolume          1.000000    0.474152          0.486602          0.492305          0.493733          0.493911
popularity           0.474152    1.000000          0.827553          0.812140          0.802557          0.794597
popularity_sum_2     0.486602    0.827553          1.000000          0.981814          0.957805          0.939753
popularity_sum_3     0.492305    0.812140          0.981814          1.000000          0.988921          0.972504
popularity_sum_4     0.493733    0.802557          0.957805          0.988921          1.000000          0.992499
popularity_sum_5     0.493911    0.794597          0.939753          0.972504          0.992499          1.000000

# 趋势特征

## 与前n个月差值

In [94]:
colst1 = ['salesVolume']
colst2 = ['salesVolume']
colst3 = ['salesVolume']
colst4 = ['salesVolume']
for i in range(6):
    df.loc[:, f'salesVolume_diff_{i+1}'] = df.salesVolume - df[f'salesVolume_last_{i+1}']
    df.loc[:, f'salesVolume_diff_{i+1}'] = df.groupby('province model'.split())[f'salesVolume_diff_{i+1}'].shift(1)
    df.loc[:, f'salesVolume_diff_{i+1}_ratio'] = df.loc[:, f'salesVolume_diff_{i+1}']/(df.loc[:, f'salesVolume']+1)
    
    df.loc[:, f'popularity_diff_{i+1}'] = df.salesVolume - df[f'popularity_last_{i+1}']
    df.loc[:, f'popularity_diff_{i+1}'] = df.groupby('province model'.split())[f'popularity_diff_{i+1}'].shift(1)
    df.loc[:, f'popularity_diff_{i+1}_ratio'] = df.loc[:, f'popularity_diff_{i+1}']/(df.loc[:, f'popularity']+1)
    
    colst1.append(f'salesVolume_diff_{i+1}')
    colst2.append(f'salesVolume_diff_{i+1}_ratio')
    colst3.append(f'popularity_diff_{i+1}')
    colst4.append(f'popularity_diff_{i+1}_ratio')

In [75]:
df[colst1].corr()

                    salesVolume  salesVolume_diff_1  salesVolume_diff_2  salesVolume_diff_3  salesVolume_diff_4  salesVolume_diff_5  salesVolume_diff_6
salesVolume            1.000000            0.107910            0.147728            0.186884            0.254450            0.259428            0.249010
salesVolume_diff_1     0.107910            1.000000            0.557657            0.394564            0.394201            0.432899            0.360183
salesVolume_diff_2     0.147728            0.557657            1.000000            0.633690            0.511264            0.535180            0.525734
salesVolume_diff_3     0.186884            0.394564            0.633690            1.000000            0.654475            0.563027            0.559776
salesVolume_diff_4     0.254450            0.394201            0.511264            0.654475            1.000000            0.696295            0.595192
salesVolume_diff_5     0.259428            0.432899            0.535180            0.563027            0.696295            1.000000            0.719325
salesVolume_diff_6     0.249010            0.360183            0.525734            0.559776            0.595192            0.719325            1.000000

In [76]:
df[colst2].corr()

                          salesVolume  salesVolume_diff_1_ratio  salesVolume_diff_2_ratio  salesVolume_diff_3_ratio  salesVolume_diff_4_ratio  salesVolume_diff_5_ratio  salesVolume_diff_6_ratio
salesVolume                  1.000000                  0.064131                  0.072091                  0.087435                  0.098760                  0.126508                  0.126299
salesVolume_diff_1_ratio     0.064131                  1.000000                  0.626528                  0.428799                  0.444401                  0.356146                  0.349852
salesVolume_diff_2_ratio     0.072091                  0.626528                  1.000000                  0.639393                  0.483940                  0.487094                  0.507620
salesVolume_diff_3_ratio     0.087435                  0.428799                  0.639393                  1.000000                  0.561746                  0.477688                  0.545929
salesVolume_diff_4_ratio     0.098760                  0.444401                  0.483940                  0.561746                  1.000000                  0.545312                  0.502245
salesVolume_diff_5_ratio     0.126508                  0.356146                  0.487094                  0.477688                  0.545312                  1.000000                  0.662844
salesVolume_diff_6_ratio     0.126299                  0.349852                  0.507620                  0.545929                  0.502245                  0.662844                  1.000000

In [77]:
df[colst3].corr()

                   salesVolume  popularity_diff_1  popularity_diff_2  popularity_diff_3  popularity_diff_4  popularity_diff_5  popularity_diff_6
salesVolume           1.000000          -0.250431          -0.232318          -0.218891          -0.212434          -0.218227          -0.224873
popularity_diff_1    -0.250431           1.000000           0.846195           0.712564           0.682501           0.658717           0.633052
popularity_diff_2    -0.232318           0.846195           1.000000           0.844958           0.710579           0.680544           0.653366
popularity_diff_3    -0.218891           0.712564           0.844958           1.000000           0.844732           0.709074           0.675979
popularity_diff_4    -0.212434           0.682501           0.710579           0.844732           1.000000           0.842168           0.702901
popularity_diff_5    -0.218227           0.658717           0.680544           0.709074           0.842168           1.000000           0.838946
popularity_diff_6    -0.224873           0.633052           0.653366           0.675979           0.702901           0.838946           1.000000

In [78]:
df[colst4].corr()

                         salesVolume  popularity_diff_1_ratio  popularity_diff_2_ratio  popularity_diff_3_ratio  popularity_diff_4_ratio  popularity_diff_5_ratio  popularity_diff_6_ratio
salesVolume                 1.000000                 0.137684                 0.138250                 0.143867                 0.149583                 0.157427                 0.160738
popularity_diff_1_ratio     0.137684                 1.000000                 0.708760                 0.506080                 0.482498                 0.497465                 0.496283
popularity_diff_2_ratio     0.138250                 0.708760                 1.000000                 0.744597                 0.523265                 0.524129                 0.498864
popularity_diff_3_ratio     0.143867                 0.506080                 0.744597                 1.000000                 0.733903                 0.578961                 0.539575
popularity_diff_4_ratio     0.149583                 0.482498                 0.523265                 0.733903                 1.000000                 0.792505                 0.620146
popularity_diff_5_ratio     0.157427                 0.497465                 0.524129                 0.578961                 0.792505                 1.000000                 0.786829
popularity_diff_6_ratio     0.160738                 0.496283                 0.498864                 0.539575                 0.620146                 0.786829                 1.000000

In [79]:
df.to_pickle('traindf.pkl')

In [99]:
df.shape

(31680, 54)

In [98]:
df.dropna().shape

(22440, 54)